<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- ServletContext - configuration for all servlets, loaded on init() -->
  <context-param>
  	<param-name>favColor</param-name>
  	<param-value>blue</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.revature.controllers.HelloServlet</servlet-class>
    <!-- ServletConfig - single servlet configuration -->
    <init-param>
    	<param-name>favColor</param-name>
    	<param-value>yellow</param-value>
    </init-param>
  </servlet>
  <servlet>
  	<servlet-name>ForwardRedirectServlet</servlet-name>
  	<servlet-class>com.revature.controllers.ForwardRedirectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForwardRedirectServlet</servlet-name>
  	<url-pattern>/ForwardRedirectServlet</url-pattern>
  </servlet-mapping>
  
</web-app>